<button (click)="sbSearchFilterComponent.resetFilter()">Reset</button>

<hr>
<hr>
<hr>

<sb-search-filter [baseSearchFilter]="{ 'se_boards': ['state (kerala)'] }"
                  [searchResultFacets]="searchResultFacets"
                  [filterFormTemplateConfig]="filterFormTemplateConfig"
                  [filterFieldTemplate]="filterFieldTemplate"
                  (searchFilterChange)="currentSearchFilter = $event"
                  #sbSearchFilterComponent>

  <ng-template #filterFieldTemplate
               let-templateConfig="templateConfig"
               let-allValues="allFilterValues"
               let-selected="selectedFilterValues">
    <div>
      <div>
        <label>{{templateConfig.labelText}}</label>
      </div>
      <div>
        <label>Selected: {{selected | json}}</label>
      </div>
      <select (change)="sbSearchFilterComponent.onFilterChange(templateConfig.facet, [$event.target.value])">
        <option *ngFor="let value of allValues" [value]="value">{{value}}</option>
      </select>
      <hr>
    </div>

  </ng-template>

</sb-search-filter>

<pre>
  {{currentSearchFilter | json}}
</pre>
